.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.vertical-container {
  display: flex;
  width: 20vw;
  height: 20vw;
}

.vertical-container div {
  height: 100%;
  flex-grow: 1;
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
}

.horizontal-container div {
  width: 100%;
  flex-grow: 1;
}

.next-color {
  width: 80px;
  height: 15px;
}