.wrapper {
  display: grid;
}

#number1 {
  grid-column: 1/100;
}

#number2 {
  grid-column: 1/100;
  background-color: red;
  height: 10px;
}

#number3 {
  grid-column: 1/100;
  background-color: red;
}