@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.vertical-container {
  display: flex;
  width: 20vw;
  height: 20vw;
}

.vertical-container div {
  height: 100%;
  flex-grow: 1;
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
}

.horizontal-container div {
  width: 100%;
  flex-grow: 1;
}

.next-color {
  width: 80vw;
  height: 20px;
  border-radius: 5px;
}

.add-weave .vertical-container {
  width: 80vw;
}

.add-weave {
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 3em;
}

h5 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.color-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p span {
  font-family: 'Pacifico', cursive;
  text-align: center;
}